.links{
    display: flex;
}
.link{
    text-decoration: none;
    color: brown;
    font-size: 22px;
    padding: 0 25px 0 25px ;
    margin: 10px;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: brown;
}

.link::before {
    content: "";
    position: absolute;
    left: 50%; 
    bottom: -1px;
    width: 0;
    height: 1px;
    background-color: brown;
    transform: translateX(-50%) scaleX(0); 
    transform-origin: center bottom; 
    transition: transform 0.3s, width 0.3s; 
  }
  
  .link:hover::before {
    transform: translateX(-50%) scaleX(1); 
    width: 100%; 
  }
  .link:hover{
    transform: scale(1.15);
  }